<?xml version="1.0" encoding="UTF-8"?>
<ModuleInfo localize="Comics module" destinationfolder="TbApps">
    <Components>
        <Library name="ComicsDbl" sourcefolder="ComicsDbl" deploymentpolicy="base" />
        <Library name="ComicsDocuments" sourcefolder="ComicsDocuments" deploymentpolicy="full" />
        <Library name="ComicsComponents" sourcefolder="ComicsComponents" deploymentpolicy="full" />
    </Components>
</ModuleInfo>